<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/quanlisanpham.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="contentarea">

        <div class="headerlayout">
            <div>
                <button>
                    <i class="fa-solid fa-bell"></i> 
                </button>
                  
            </div>
                <div>
                    <img src="#" alt="logo" srcset="">
                </div>
        
        </div>
        <div class="optionslayout">
            <div class="imglayout">
                <img src="/images/logo.jpg" alt="logo" width="150px">
                <h4>Admin Panel</h4>
            </div>
            <div class="taskbar">
                <button>
                    <i class=" fa-solid fa-cash-register"></i>
                    <a href="/admin/muahangtaiquay">Mua hàng tại quầy </a>
                </button>
                <button id="btnchange">
                    <div>
                        <i class="fa-solid fa-cart-shopping"></i>
                        <a class="mainmenuoption" href="#">Quản lí sản phẩm</a>
                        <i id="dmms" class="fa-solid1 fa-solid fa-angle-right fa-spin fa-spin-reverse fa-2xs"></i>
                    </div>
                    <ul class="submenu">
                        <li><a href="/admin/quanlisanpham">Sản Phẩm</a></li>
                        <li><a href="#">Thương hiệu</a></li>
                    </ul>
                </button>
                <button>
                    <i class="fa-solid fa-receipt"></i>
                    <a href="/admin/quanlihoadon">Quản lý hóa đơn</a>
                </button>
                <button id="btnchange1">
                    <div>
                        <i class="fa-solid fa-clipboard-user"></i>
                        <a class="mainmenuoption" href="#">Quản lý Tài Khoản</a>
                        <i id="dmms1" class="fa-solid1 fa-solid fa-angle-right fa-spin fa-spin-reverse fa-2xs"></i>
                    </div>
                    <ul class="submenu1">
                        <li><a href="/admin/quanlinhanvien">Nhân Viên</a></li>
                        <li><a href="/admin/quanlikhachhang">Khách Hàng</a></li>
                    </ul>
                </button>
                <button>
                    <i class="fa-solid fa-ticket"></i>
                    <a href="/admin/quanlikhuyenmai">Quản lý khuyến mại </a>
                </button>
                <button>
                    <i class="fa-solid fa-chart-line"></i>
                    <a href="/admin/thongke">Thống kê</a>
                </button>
            </div>
        </div>
        <div class="mainlayout">
            <hr>
            <div class="tablelistsanpham">
                <div class="tablelistsanpham1">
                    <div>
                        <h3>Danh sách sản phẩm</h3>
                        <button type="button" id="openmodal" class="btn btn-primary">Thêm sản phẩm</button>
                    </div>

                    <table  class="table table-bordered">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Giá</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody th:each="sanpham,stat:${lstsanpham}">
                        <tr>
                            <td th:text="${stat.index+1}"></td>
                            <td th:text="${sanpham.maSanPham}"></td>
                            <td th:text="${sanpham.tenSanPham}"></td>
                            <td>
                                <img th:src="@{'/images/'+ ${sanpham.anhSanPham}}" width="60px">
                            </td>
                            <td th:text="${sanpham.gia}"></td>
                            <td th:text="${sanpham.trangthai} == 1 ? 'Đang Bán':'Ngừng Bán' "></td>
                            <td>

                                <a th:href="@{/admin/quanlisanpham/detail/{masanpham}(masanpham=${sanpham.maSanPham})}" class="btn btn-primary">Chi Tiết</a>
                                <button type="button" class="btn btn-danger">Xóa</button>

                            </td>
                        </tr>
                        </tbody>

                    </table>

                    <div class="d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${!lstsanpham.hasPrevious()}? 'disabled'">
                                    <a class="page-link" th:href="@{/admin/quanlisanpham(page=${lstsanpham.number - 1}, size=${lstsanpham.size})}">Previous</a>
                                </li>

                                <li class="page-item" th:each="i : ${#numbers.sequence(1, lstsanpham.totalPages)}"
                                    th:classappend="${i == lstsanpham.number + 1} ? 'active'">
                                    <a class="page-link" th:href="@{/admin/quanlisanpham(page=${i - 1}, size=${lstsanpham.size})}"
                                       th:text="${i}">1</a>
                                </li>

                                <li class="page-item" th:classappend="${!lstsanpham.hasNext()}? 'disabled'">
                                    <a class="page-link" th:href="@{/admin/quanlisanpham(page=${lstsanpham.number + 1}, size=${lstsanpham.size})}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div id="Modal-form">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Chỉnh sửa nhân viên</h2>
            <form th:action="@{/admin/quanlisanpham/addsanpham}" method="post" class="formmain">
                <div class="form1111">
                    <label for="maSanPham">Mã Sản Phẩm</label>
                    <input type="text" class="form-control" id="maSanPham" name="maSanPham">
                </div>
                <div class="form1111">
                    <div class="form-group anhdaidienadd">
                        <label for="anhSanPham">Ảnh đại diện:</label>
                        <input type="file" class="form-control" id="anhSanPham" name="anhSanPham">
                    </div>
                </div>
                <div class="form2222">
                    <div class="form-group">
                        <label for="tenSanPham">Tên sản phẩm:</label>
                        <input type="text" class="form-control" id="tenSanPham" name="tenSanPham">
                    </div>
                    <div class="form-group">
                        <label for="mauSac">Màu sắc:</label>
                        <input type="text" class="form-control" id="mauSac" name="mauSac">
                    </div>

                    <div class="form-group">
                        <label for="kichCo">Kích cỡ:</label>
                        <input type="number" class="form-control" id="kichCo" name="kichCo">
                    </div>
                    <div class="form-group">
                        <label for="soLuong">Số lượng:</label>
                        <input type="number" class="form-control" id="soLuong" name="soLuong">
                    </div>
                    <div class="form-group">
                        <label for="idThuongHieu">Thương hiệu:</label>
                        <select class="form-control" id="idThuongHieu">
                            <option  th:each="danhmuc:${lstsanpham}" th:value="${danhmuc.idThuongHieu}" th:text="${danhmuc.idThuongHieu.tenThuongHieu}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="gia">Giá:</label>
                        <input type="number" class="form-control" id="gia" name="gia">
                    </div>
                </div>
                <button type="submit" id="" class="btn btn-primary">Thêm Nhân Viên</button>
            </form>
        </div>

    </div>


</body>
<script src="/js/admin.js"></script>
<script src="https://kit.fontawesome.com/39f1c218af.js" crossorigin="anonymous"></script>

</html>