<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/quanlinhanvien.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

</head>

<body>
<div class="contentarea">
    <div class="headerlayout">
        <div sec:authorize="isAuthenticated()">
            <div class="formloginuser">
                <div class="ussdds">
                    <span style="color: black">ADMIN</span>
                </div>

                <form th:action="@{/logout}" method="post">
                    <button id="buttonlogout" class="buttonlogout" type="submit">Đăng xuất</button>
                </form>
            </div>
        </div>
    </div>
    <div class="optionslayout">
        <div class="imglayout">
            <img src="/images/logo/logo.jpg" alt="logo" width="150px">
            <h4>Admin Panel</h4>
        </div>
        <div class="taskbar">
            <button>
                <i class=" fa-solid fa-cash-register"></i>
                <a href="/admin/muahangtaiquay">Mua hàng tại quầy </a>
            </button>
            <button id="btnchange">
                <div>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <a class="mainmenuoption" href="#">Quản lí sản phẩm</a>
                    <i id="dmms" class="fa-solid1 fa-solid fa-angle-right fa-spin fa-spin-reverse fa-2xs"></i>
                </div>
                <ul class="submenu">
                    <li><a href="/admin/quanlisanpham">Sản Phẩm</a></li>
                    <li><a href="#">Thương hiệu</a></li>
                </ul>
            </button>
            <button>
                <i class="fa-solid fa-receipt"></i>
                <a href="/admin/quanlihoadon/quanli">Quản lý hóa đơn</a>
            </button>
            <button id="btnchange1">
                <div>
                    <i class="fa-solid fa-clipboard-user"></i>
                    <a class="mainmenuoption" href="#">Quản lý Tài Khoản</a>
                    <i id="dmms1" class="fa-solid1 fa-solid fa-angle-right fa-spin fa-spin-reverse fa-2xs"></i>
                </div>
                <ul class="submenu1">
                    <li><a href="/admin/quanlinhanvien">Nhân Viên</a></li>
                    <li><a href="/admin/quanlikhachhang">Khách Hàng</a></li>
                </ul>
            </button>
            <button>
                <i class="fa-solid fa-ticket"></i>
                <a href="/admin/quanlikhuyenmai">Quản lý khuyến mại </a>
            </button>
            <button>
                <i class="fa-solid fa-chart-line"></i>
                <a href="/admin/thongke">Thống kê</a>
            </button>
        </div>
    </div>
    <div class="mainlayout">
        <input type="hidden" id="successMessage" th:if="${success}" th:value="${success}">
        <div class="tablelistsanpham">
            <div class="tablelistsanpham1">
                <div class="div1">
                    <h3>Danh sách khách hàng</h3>
<!--                    <button type="button" class="btn btn-primary" id="openmodal">-->
<!--                        Thêm mới khách hàng-->
<!--                    </button>-->
                </div>
                <div class="filters">
                    <div class="searchi">
                        <input type="text" id="searchinput" placeholder="Tìm kiếm...">
                    </div>
                    <div class="filters1">
                        <div>
                            <label>Chức Vụ:</label><select>
                            <option value="0">Tất cả</option>
                            <option value="1">Admin</option>
                            <option value="2">Nhân viên</option>
                        </select>
                        </div>
                        <div>
                            <label>Trạng thái:</label><select>
                            <option value="0">Tất cả</option>
                            <option value="1">Đang hoạt động</option>
                            <option value="2">Đã ngưng hoạt động</option>
                        </select>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary">Lọc</button>
                        </div>
                    </div>

                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>ID</th>
                        <th>Ảnh</th>
                        <th>Tên khách hàng</th>
                        <th>Giới Tính</th>
                        <th>SDT</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody th:each="lstnhanvien,stat:${lstnhanvien}">
                    <tr>
                        <td th:text="${stat.index+1}"></td>
                        <td th:text="${lstnhanvien.id}"></td>
                        <td>
                            <img th:src="@{'/images/userkh/'+${lstnhanvien.anhDaiDien}}" onerror="this.src='/images/logo/no_image.jpg';" width="50px">
                        </td>
                        <td th:text="${lstnhanvien.hoVaTen}"></td>
                        <td th:text="${lstnhanvien.gioiTinh== true ?'Nam':'Nữ'}"></td>
                        <td th:text="${lstnhanvien.sdt}"></td>
                        <td th:text="${lstnhanvien.trangThai == true ?'Hoạt động' :'Ngưng hoạt động'}"></td>
                        <td class="d-flex">
                            <a class="btn-detail btn btn-primary"  th:href="@{/admin/quanlikhachhang/detail/{id}(id=${lstnhanvien.id})}">Chi Tiết</a>
                            <form action="#" th:action="@{/admin/quanlikhachhang/delete/{id}(id=${lstnhanvien.id})}" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn xóa người này?')">
                                <button type="submit" class="btn btn-danger">Xóa</button>
                            </form>
                            <input type="hidden" id="successMessageDelete" th:if="${successdelete}" th:value="${successdelete}">


                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div id="Modal-form">
    <div class="modal-content">

        <span class="close" id="closeModal">&times;</span>
        <h2>Chỉnh sửa khách hàng</h2>
        <form th:action="@{/admin/quanlikhachhang/add}" method="post" class="formmain">

            <div class="form1111">
                <div class="form-group anhdaidienadd">
                    <label for="anhDaiDien">Ảnh đại diện:</label>
                    <input type="file" class="form-control" id="anhDaiDien" name="anhDaiDien">
                </div>
            </div>
            <div class="form2222">
                <div class="form-group">
                    <label for="hoVaTen">Tên khách hàng:</label>
                    <input type="text" class="form-control" id="hoVaTen" name="hoVaTen">
                </div>
                <div class="form-group">
                    <label for="diaChi">Địa Chỉ</label>
                    <input type="text" class="form-control" id="diaChi" name="diaChi">
                </div>
                <div class="form-group">
                    <label for="sdt">SDT:</label>
                    <input type="text" class="form-control" id="sdt" name="sdt">
                </div>
                <div class="form-group">
                    <label for="ngaySinh">Ngày sinh:</label>
                    <input type="date" class="form-control" id="ngaySinh" name="ngaySinh">
                </div>
                <div class="form-group">
                    <label for="gioiTinh">Giới Tính:</label>
                    <select id="gioiTinh" name="gioiTinh" class="form-control">
                        <option value="1">Nam</option>
                        <option value="0">Nữ</option>
                    </select>
                </div>


            </div>
            <button type="submit" id="" class="btn btn-primary">Thêm Nhân Viên</button>
        </form>
    </div>

</div>

</body>
<script src="/js/admin.js"></script>
<script src="https://kit.fontawesome.com/39f1c218af.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>



</html>