
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: seagreen;
}
.formlogin{
    width: 420px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border-radius: 10px;
    padding: 30px 40px;
}
.formlogin h3 {
    font-size: 36px;
    text-align: center;
}
.formlogin .inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    margin:  30px 0;
}
.inputbox input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.inputbox i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.formlogin .rememberforgot{
    display: flex;
    justify-content: space-between;
    
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.rememberforgot label input{
    accent-color: #fff;
    
    margin-right: 3px;
}
.rememberforgot a{
    color: #fff;
    text-decoration: none;
}
.rememberforgot a:hover{
    text-decoration: underline;
}

.formlogin .btnsubmit{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius:40px ;
    border: 2px solid black;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.formlogin .registerlink{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.registerlink p a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.registerlink p a:hover{
    text-decoration: underline;
}
.btnsubmit:hover{
    background: black;
    color: white;
}
.btnsubmit:active{
    background: #333;
    color: white;
}